body{
    color: aliceblue;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.chart-container {
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 65vh;
    position: relative;
}

.chart-data-picklist {
    display: flex;
    align-self: flex-end;
    margin-right: 3%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.app-body {
    background-color: #282c34;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: auto;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-container{
    max-width: 1264px;
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.container{
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
}

.content{
    max-width: 1100px;
    width: calc(100% - 164px);
    padding: 24px;
    box-sizing: border-box;
}

.right-sidebar{
    width: 164px;
    flex-shrink: 0;
    z-index: 1000;
    box-shadow: 0 0 0 rgb(12 13 14 / 5%);
    transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
    padding: 24px 15px;
}

.page-wrapper{
    padding: 10px 15px;
}

.body-container{
    background: #282c34;
}
